.userInput {
  visibility: hidden;
  color: #f7b924;
  background-color: black;
  font-size: 24px;
  font-weight: bold;
  width: 250px;
  height: 40px;
  border: 7px solid #f7b924;
  border-radius: 44%;
  position: absolute;
  top: 30%;
  left: 18%;
}
